global-include *.pyx
global-include *.pxi
global-include *.cpp
global-include *.hpp
global-exclude *.o
global-exclude *.so
global-exclude *.md
include pyproject.toml
exclude .gitignore
exclude .gitattributes
exclude readsparse/*.cpp
exclude docs/*
prune docs/*
exclude example/*
prune example/*
exclude src/Rwrapper.cpp
exclude src/RcppExports.cpp
prune autom4te.cache/*
